.card {
  width: 350px;
  height: 350px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 25px;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 1px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    background-color: black;
    height: 100%;
    
    h1 {
      font-size: 25px;
      font-weight: bold;
      color: white;
      width: auto;
      margin-top: 40px;
    }

    p {
      font-size: 18px;
      color: white;
      margin-bottom: 25px;
    }

    div {
      margin-bottom: 20px;
    }

    .underline {
      border-bottom: 3px solid white;
      margin-left: 35px;
      width: 80%;
    }

    .btn-box{
      &:hover{
        transform: scale(1.1);
      }
    }

    .btn {
      background-color: darkorange;
      border: 2px solid;
      color: black;
      padding: 10px;
      text-decoration: none;
      margin-bottom: 25px;
      border-radius: 25px;
      &:hover {
        background-color: rgb(255, 94, 0);
      }
    }

    &:hover {
      opacity: .95;
      transform: translate(0, 0px);
    }
  }
}
