.courses-wrapper {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 0px;
    font-weight: normal;
    color: lightgrey;
    padding-bottom: 35px;
    border-bottom: 3px solid darkorange;
    text-align: center;
    width: 80vw;
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
    color: lightgrey;
  }
  
  .grid {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;
  }
}