.skills-wrapper {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 0px;
    font-weight: normal;
    color: lightgrey;
    padding-bottom: 35px;
    border-bottom: 3px solid darkorange;
    text-align: center;
    width: 80vw;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    grid-gap: 70px;

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      opacity: .6;
      cursor: pointer;
      img {
        height: 8rem;
        width: 8rem;
        border: 2px solid orange;
        border-radius: 50%;
      }
      p {
        font-size: 20px;
        width: 150px;
      }
      &:hover{
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }

  .skills-center-box {
    margin: 0 auto;
    height: 400px;
  }

  .skill-text-box {
    height: 350px;
    width: 40vw;
  }

  .skill-text {
    margin-top: 160px;
    text-align: center;
    font-size: 20px;
  }

  .skills-center-container {
    width: 900px;
    display: inline-flex;
    justify-content: center;
  }

  .skills-grid2 {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0px;
    grid-gap: 30px;
  }

}